@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap");

:root {
  --clr-bg: #0a0010;
  --clr-bg-card: rgba(255, 255, 255, 0.04);
  --clr-bg-card-hover: #18002e;
  --clr-border: rgba(180, 100, 255, 0.325);
  --clr-border-hover: rgba(180, 100, 255, 0.45);
  --clr-accent: #c84bff;
  --clr-accent-glow: rgba(200, 75, 255, 0.35);
  --clr-accent-soft: rgba(200, 75, 255, 0.12);
  --clr-gold: #f8d299;
  --clr-gold-highlight: #f1b862;
  --clr-gold-soft: rgba(232, 184, 75, 0.15);
  --clr-text: #f0e8ff;
  --clr-text-muted: rgba(240, 232, 255, 0.792);
  --clr-text-unhighlighted: rgba(240, 232, 255, 0.547);
  --clr-text-dim: rgba(240, 232, 255, 0.3);
  --font-display: "Syne", sans-serif;
  --font-main: "Anek Latin", sans-serif;

  --font-body: "DM Sans", sans-serif;
  --radius: 12px;
  --radius-lg: 20px;
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/BgImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: var(--font-body);
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--clr-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 3px;
}
